---
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import LoginSignup from '../components/LoginSignup'

const data = Astro.locals
// @ts-ignore
const username: string | null = data.username

const error = decodeURIComponent(new URLSearchParams(Astro.url.search).get('error') || '')

---

<BaseLayout
  title="Cronize - Home"
  description="Cronize is a simple, easy to use, and free cronjob manager."
>
  <Header />
  <div class="container m-auto text-center bg-muted shadow-lg p-2">
    { username ? <h1>Welcome back, {username}! Go to your <a href="/profile" class="italic hover:underline">profile</a>.</h1> : <h1>Welcome to Cronize!</h1> }
  </div>
  <LoginSignup client:load error={error} />
  <Footer />
</BaseLayout>
