---
import SideNavbar from "../components/SideNavbar"
import BaseLayout from "../layouts/BaseLayout.astro"
import ThemeToggle from '../components/ThemeToggle.astro';
import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
} from "../components/ui/card"

const data: any = Astro.locals;
console.log(data)

---

<BaseLayout
  title="Cronize - Profile"
  description="Cronize is a simple, easy to use, and free cronjob manager."
>
    <div class="hidden">
        <ThemeToggle />
    </div>
    <SideNavbar client:load username={data.username}>
        <div class="grid items-center gap-4">
            <h1 class="text-xl font-semibold md:text-2xl italic">Welcome {data.username}!</h1>
            <div class="grid grid-cols-4 gap-4">
                <Card>
                    <CardHeader>
                      <CardTitle>Projects</CardTitle>
                    </CardHeader>
                    <CardContent>
                        <h2>4</h2>
                    </CardContent>
                </Card>
                <Card>
                    <CardHeader>
                      <CardTitle>Cronjobs</CardTitle>
                    </CardHeader>
                    <CardContent>
                        <h2>17</h2>
                    </CardContent>
                </Card>
            </div>
        </div>
    </SideNavbar>
</BaseLayout>
