---
import SideNavbar from "../components/SideNavbar"
import BaseLayout from "../layouts/BaseLayout.astro"
import ThemeToggle from '../components/ThemeToggle.astro';
import ProfileMain from "../components/Profile"

const data: any = Astro.locals;
console.log(data)

---

<BaseLayout
  title="Cronize - Profile"
  description="Cronize is a simple, easy to use, and free cronjob manager."
>
    <div class="hidden">
        <ThemeToggle />
    </div>
    <SideNavbar client:load username={data.username}>
        <ProfileMain client:load username={data.username} />
    </SideNavbar>
</BaseLayout>
